<header>  
    <img src="../assets/logo.png" width="100px" align=left>
    <img src="../assets/shoppingCart.jpg" width="100px" align=right>
     <nav>
       <a routerLink="/home" routerLinkActive="active">Home</a>
       <a routerLink="/about" routerLinkActive="active">About</a>
       <a routerLink="/shop" routerLinkActive="active">Shop</a>
       <a routerLink="/contact" routerLinkActive="active">Contact</a>
     </nav>
</header>
<div>
<h1>Fortisi Home Design </h1>
<h2>-second name for Stylish-</h2>
<h3><br>Beauty that comes from 
    <br>trust</h3>
<h4><a routerLink="/shop" routerLinkActive="active">Shop now</a></h4>
</div>
<h5>POWER OF THE IDEA AND THE ART OF CRAFTSMANSHIP</h5>
<h6><br>In our work, the experience of 60 years joins joinery with 20 years of interior design.
    <br> Let yourself be inspired by the unique projects that we were able to realize for demanding 
    <br> clients. 
    <br> The special thing about our work comes from a holistic view of things, coupled with an 
    <br> unconditional commitment to quality.</h6>
<table size= 100%100%; align=center>
    <tr>
        <td><img src="../assets/nighttable.jpg" width="300px"></td>
        <td><img src="../assets/radniSto.jpg" width="300px"></td>
        <td><img src="../assets/krevet.jpg" width="300px"></td>
    </tr>
    <tr>
        <td><p>RSD 9.500,00</p></td>
        <td><p>RSD 40.000,00</p></td>
        <td><p>RSD 35.000,00</p></td>
    </tr>
    <tr>
        <td><img src="../assets/stolica_sto.jpg" width="150px"></td>
        <td><img src="../assets/kitchen.jpg" width="150px"></td>
        <td><img src="../assets/bedRoom.jpg" width="150px"></td>
    </tr>
    <tr>
        <td><p>RSD 5.000,00</p></td>
        <td><p>RSD 189.000,00</p></td>
        <td><p>RSD 350.000,00</p></td>
    </tr>
    <tr>
        <td><p></p></td>
        <td><a routerLink="/shop" routerLinkActive="active">Load More</a></td>
        <td><p></p></td>
    </tr>
</table>